.contenedorLimite{
    
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    background-color: #F8F9FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand{
    font-style:italic;
    color: rgb(75, 73, 68);
    font-family: "Dancing Script", cursive;
    font-size: 300%;
    
    
}

h2{
    color: rgb(75, 73, 68);
    font-size: 130%;
}

footer{
    background-color: #F8F9FA;
}

@media screen and (max-width: 990px) {

.navbar-brand {
        font-size: 200%;
    }
}
article {
    padding: 5%;
    justify-content: center;
    background-color: #d4ab74;
   
}
main{
    background-color: #d4ab74;
}
.col {
    padding: 0.5%;
}
